{% extends 'base.html' %}

{% block header %}
  	{% block title %}Log in{% endblock %}
{% endblock %}

{% block content %}
	<div class="text-center d-flex justify-content-center">
		<form class="form-signin" action="{{ url_for('account.login') }}" method="post">
			<img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" name="email"id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox m-3">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Log In</button>
			<a href="{{url_for('account.create_account')}}" class="btn btn-primary">Create Account</a>
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
		</form>
	</div>
{% endblock %}


